<h4><a href="#">Eunchong Yun의 채권 Story</a> || <a href="#">민평표</a> | <a href="#">단가표</a> | <a href="#">국고발행계획</a> | <a href="#">채권뉴스</a></h4>

<div>
  <h2>Eunchong Yun의 채권 Story에 오신 여러분들을 환영합니다.</h2>
  <p>채권의 모든 정보를 신속하고 정확하게 알려드리겠습니다.</p>
</div>

<hr>

<% @posts.reverse.each do |post| %>
<div style="border: 1px solid #ffffff">
  <h4><%= post.title %></h4>
  <p style="color: #ff0000"><%= post.category %></p>
  <p>작성자 아이디</p>
  <p><%= post.content %></p>
</div>
<% end %>
