<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-info">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div>
    <center> <img src="/preface2.png" width="733" height="160"> </center>
  </div>

  <%= render :partial => "foods/posts" %>
</div>
