<p><%= flash[:alert] %></p>
<h2>게시글  등록하기</h2>

<form action="/foods/write_complete" method="post">
  <p style="color: #ff0000">분류:
  <select name="post_category">
    <option value="민평표">민평표</option>
    <option value="단가표">단가표</option>
    <option value="국고발행계획">국고발행계획</option>
    <option value="채권뉴스">채권뉴스</option>
  </select></p>
  <p>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요."></p>
  <p>내용: <textarea name="post_content" placeholder="내용을 입력하세요."></textarea></p>
  <input type="submit" value="등록하기">
</form>
