<br>

<div>
<center> <img src="/photo_0.jpg" width=90% height=90%> </center>
</div>


<div>	 
	  <p align=center> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="http://www.mt.co.kr/view/mtview.php?type=1&no=2012120315060544043&outlink=1"><u><font color=blue>관련기사 링크</u></p>
</div>

   

